﻿@model ZigZagUsingNasaAPI.Web.Models.NasaImageViewModel

@{
    ViewData["Title"] = "View";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input class="form-control" type="date" data-val="true" value="@Model.Date" id="Date" name="Date" />
            <span asp-validation-for="@Model.Date" class="text-warning"></span>
            <br />

            <div class="form-group">
                <input type="submit" value="NEO Report!" class="btn btn-primary" asp-controller="Home" asp-action="ExcellExporter" />
            </div>
            <div class="form-group">
                <input type="submit" value="Change IMG!" class="btn btn-primary" asp-controller="Home" asp-action="Change" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save the Image in the data base!" class="btn btn-primary" asp-controller="Home" asp-action="Save" />
            </div>
        </form>

        <div class="form-group">
            <h1>@Model.Title</h1>

            <figure>
                <img src="@Model.Url"
                     alt="Nasa makes it work">
                <figcaption>@Model.Explanation</figcaption>
            </figure>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
